.header {
  display: flex;
  height: 100px;
}
.header-left {
  height: 100px;
  align-items: baseline;
  display: flex;
  flex-direction: row;
}
.header-search {
  background: rgb(227, 227, 227);
}
.header-left > div > input {
  border-style: none;
  background: rgb(227, 227, 227);
}
